{% extends "base.html" %} {% block content %}
<div
  class="flex flex-col items-center justify-center px-6 mx-auto md:h-screen lg:py-0"
>
<div class="container mt-3">
  <h1>Create an Image with DALLE</h1>
  <form method="post" autocomplete="off">
    {% csrf_token %}
    <input type="text" class="form-control" name="user_input" placeholder="ex) puppy"/>
    <button type="submit" class="btn mt-3">Submit</button>
  </form>

  <br />
  {% if object %}
  <div>
    {{object.phrase}}
    <br />
    <img src="{{ object.ai_image.url }}" alt="{{ object.phrase }}" />
    {% if object.get_download_url %}
    <a href="{{ object.get_download_url }}" class="btn mt-3">Download Image</a>
  {% endif %}
  </div>
  {% endif %}
</div>
</div>

{% endblock %}
