{% extends 'base.html' %}

{% block content %}
  <div class="container">
    <h1>Delete Account</h1>
    <p>Are you sure you want to delete your account?</p>
    <div id="form-errors" class="alert alert-danger alert-dismissible" role="alert" style="display: none;"></div>
    <form id="delete-account-form">
      {% csrf_token %}
      <button type="button" id="delete-account-btn" class="bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow mt-2">Delete</button>
      <a href="/users/profile/" class="bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow mt-2">Cancel</a>
    </form>
  </div>

  <script>
    document.getElementById("delete-account-btn").addEventListener("click", function() {
  fetch("/users/delete/", {
    method: "DELETE",
    headers: {
      "Content-Type": "application/json",
      "X-CSRFToken": getCookie("csrftoken"),
      "X-Requested-With": "XMLHttpRequest"
    },
  })
    .then(response => {
      if (response.ok) {
        return response.json();
      } else {
        throw new Error("ERROR");
      }
    })
    .then(data => {
      if (data.success) {
        console.log("SUCCESS")
      } else {
        throw new Error("ERROR");
      }
    })
    .catch(error => {
      console.error("ERROR:", error);
    });
});

function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== "") {
        const cookies = document.cookie.split(";");
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            if (cookie.substring(0, name.length + 1) === name + "=") {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
  </script>
{% endblock %}
