{% extends "base.html" %}
{% block content %}
<div class="form-content my-3 p-3">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-5">
        <div class="card shadow-lg border-0 rounded-lg mt-0 mb-3">
          <div class="card-header text-center">
            <h3 class="font-weight-light my-4">Change Your Password</h3>
          </div>
          <div id="form-errors" class="alert alert-danger alert-dismissible d-none"></div>
          <div class="card-body">
            
            <form id="change-password-form">
              {% csrf_token %}
              <div class="form-group">
                <label for="old_password">Old Password</label>
                <input type="password" name="old_password" autocomplete="new-password" class="form-control" required id="old_password" placeholder="Enter Old Password" />
              </div>
              <div class="form-group">
                <label for="new_password1">New Password</label>
                <input type="password" name="new_password1" autocomplete="new-password" class="form-control" required id="new_password1" placeholder="Enter New Password" />
              </div>
              <div class="form-group">
                <label for="new_password2">New Password Confirmation</label>
                <input type="password" name="new_password2" autocomplete="new-password" required id="new_password2" class="form-control" placeholder="Confirm New Password" />
              </div>
              <div class="form-group">
                <button type="button" class="bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow mt-2" id="update-password">Update Password</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  document.getElementById("update-password").addEventListener("click", function(event) {
    event.preventDefault();

    const old_password = document.getElementById("old_password").value;
    const new_password1 = document.getElementById("new_password1").value;
    const new_password2 = document.getElementById("new_password2").value;

    const data = {
      old_password: old_password,
      new_password1: new_password1,
      new_password2: new_password2
    };

    fetch("/users/password-change/", {
      method: "PUT",
      body: JSON.stringify(data),
      headers: {
        "Content-Type": "application/json",
        "X-CSRFToken": getCookie("csrftoken"),
      },
      credentials: "include"
    })
      .then(response => response.json())
      .then(data => {
        if (data.success) {
          window.location.href = "/users/signin/";
        } else {
          let formErrors = document.getElementById("form-errors");
          formErrors.innerHTML = "";
          for (let key in data.errors) {
            if (data.errors.hasOwnProperty(key)) {
              let error = data.errors[key];
              let errorMessage = document.createElement("strong");
              errorMessage.textContent = error;
              formErrors.appendChild(errorMessage);
            }
          }
          formErrors.classList.remove("d-none");
        }
      })
      .catch(error => {
        console.error("Error:", error);
      });
  });

  function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== "") {
        const cookies = document.cookie.split(";");
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            if (cookie.substring(0, name.length + 1) === name + "=") {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
</script>
{% endblock %}
