{% extends "base.html" %}

{% block content %}
<div class="flex flex-col items-center justify-center px-6 mx-auto md:h-screen lg:py-0">
  <div class="container mt-3">
    <div class="mx-auto max-w-screen-sm text-center mb-8 lg:mb-16">
      <p class="font-light text-gray-500 lg:mb-16 sm:text-xl dark:text-gray-400"> CUSTOM DALLE</p>
    </div>
    <form method="post" autocomplete="off">
      {% csrf_token %}
      <input type="text" class="form-control" name="user_input" placeholder="A sunlit indoor lounge area with a pool containing a flamingo" />
      <button type="submit" class="bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow mt-2">Submit</button>
    </form>

    <br />
    {% if product %}
    <div>
      <img src="{{ product.ai_image.url }}" alt="{{ product.phrase }}" />

      <div class="mt-10">
        <button type="submit" class="bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow mt-2" onclick="orderProduct()">
          "{{ product.phrase }}" ORDER NOW
        </button>
      </div>
    </div>
    {% endif %}
  </div>
</div>

<script>
  function orderProduct() {
    const phrase = '{{ product.phrase }}'; 
    const id = '{{ product.id }}';
    const handle = phrase.replace(/ /g, "-") + id;

    const url = `/products/order/`;
    const redirect_url = `/products/${handle}/`;
    const data = {
      phrase:phrase,
      id: id,
      handle:handle,
    };
    fetch(url, {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
        "X-CSRFToken": "{{ csrf_token }}"
      },
      body: JSON.stringify(data)
    })
    .then(response => {
      if (response.ok) {
        window.location.href = redirect_url;
        console.log("Order placed successfully.");
      } else {
        console.log("Failed to place order.");
      }
    })
    .then(data => {
       // Access the handle property from the response data
    })
    .catch(error => {
      console.log("An error occurred:", error);
    });
  }
</script>

{% endblock %}
