{% extends "base.html" %}
{% block content %}
<div class="flex flex-col items-center justify-center px-6 mx-auto md:h-screen lg:py-0">
  <div class="container mt-3">
    <div class="mx-auto max-w-screen-sm text-center mb-8 lg:mb-16">
      <p class="font-light text-gray-500 lg:mb-16 sm:text-xl dark:text-gray-400"> CUSTOM DALLE</p>
    </div>
    <form method="post" autocomplete="off">
      {% csrf_token %}
      <input type="text" class="form-control" name="user_input" placeholder="a close up, studio photographic portrait of a white siamese cat that looks curious, backlit ears" />
      <button type="submit" class="bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow mt-2">Submit</button>
    </form>

    <br />
    {% if object %}
    <div>
      <img src="{{ object.ai_image.url }}" alt="{{ object.phrase }}" />

      <div class="mt-10">
        <form method="post" action="{% url 'products:custom_order_view' object.phrase object.id %}">
          {% csrf_token %}
          <button type="submit" class="bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow mt-2">
            "{{ object.phrase }}" ORDER NOW
          </button>
        </form>
      </div>
    </div>
    {% endif %}
  </div>
</div>
{% endblock %}
