{% extends "base.html" %}
{% load static %}
{% block content %}

<form method="POST" action="." enctype="multipart/form-data">
  {% csrf_token %}
  <div class="mx-auto max-w-screen-sm text-center mb-8 lg:mb-16">
    <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">Update your DALLE Image</h2>
    <p class="font-light text-gray-500 lg:mb-16 sm:text-xl dark:text-gray-400">Click "Choose File" button</p>
  </div>

  <!-- ProductUpdateForm-->
  <div>
    {{ form.as_p }}
  </div>
  <div>
    <h2 class="mb-4 text-2xl tracking-tight font-extrabold text-gray-900 dark:text-white">Update your DALLE Image as Attachment</h2>
    <p class="font-light text-gray-500 lg:mb-16 sm:text-xl dark:text-gray-400">Click "Add Attachment" button</p>
  </div>
  <div>
    {{ formset.management_form }}
    <div id="attachments">
      <!-- ProductAttachmentModelFormSet -->
      {% for form in formset %}
      <div>
        {{ form.as_p }}
      </div>
      {% endfor %}
    </div>
  </div>
  <button id="add-attachment-btn" class="bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow mt-2">Add attachment</button>
  <button type="submit" class="bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow mt-2">Save</button>
</form>



<script>
  const blankFormEl = document.querySelector("#blank-form");
  const attachmentContainer = document.querySelector("#attachments");
  const addAttachmentBtn = document.querySelector("#add-attachment-btn");
  const managementFormInputEl = document.querySelector("#id_form-TOTAL_FORMS");
  addAttachmentBtn.addEventListener("click", handleAttachmentBtnClick);

  function cloneBlankForm() {
    if (blankFormEl) {
      const newBlankForm = blankFormEl.cloneNode(true);
      const totalFormValue = parseInt(managementFormInputEl.value);
      let formRegex = new RegExp('__prefix__', 'g');
      newBlankForm.innerHTML = newBlankForm.innerHTML.replace(formRegex, totalFormValue);
      managementFormInputEl.value = totalFormValue + 1;
      newBlankForm.classList.add("attachment-form");
      newBlankForm.classList.remove("hidden");
      newBlankForm.removeAttribute("id");
      //console.log(newBlankForm);
      return newBlankForm;
    }
  }

  function handleAttachmentBtnClick(event) {
    if (event) {
      event.preventDefault();
    }
    const newForm = cloneBlankForm();
    attachmentContainer.appendChild(newForm);
  }

</script>
{% endblock %}
