{% extends "base.html" %} {% load static %} {% block content %}

<form method="POST" action="." enctype="multipart/form-data">
  {% csrf_token %} 
  <!-- ProductUpdateForm-->
  <div>
    {{ form.as_p }}
  </div>

  <div>
    {{formset.management_form}}
    <div>
      <!-- ProductAttachmentModelFormSet -->
      {% for form in formset %}
      <div>
        {{ form.as_p }}
      </div>
      {% endfor %} 
    </div>
  </div>
  <button type="submit" class="btn-submit mt-2">Submit</button>
</form>

{% endblock %}
